.header-bar {
  background-color: #1d1b1b;
  color: #fff;

  .logo {
    font-weight: bold;
    font-size: 1.4rem;
    color: #E0A6A7;
  }

  .spacer {
    flex: 1 1 auto;
  }

  a {
    color: #E0A6A7;
    font-weight: 500;
    margin-left: 12px;
  }

  button {
    margin-left: 16px;
  }
}
